* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}

body {
            background-color: rgb(11, 30, 54);
            font-family: Arial, Helvetica, sans-serif;
            overflow: hidden;
            background: linear-gradient(45deg, #0b1f37 0%, #10315b 100%);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
            color: aliceblue;
}
@keyframes gradient {
                    
  0% { background-position: 0% 50%; }
                    
  50% { background-position: 100% 50%; }
                    
  100% { background-position: 0% 50%; }
                  
}



@keyframes in {
    0% {
        filter: opacity(0%) blur(50px);
        transform: scale(50%);
    }
    100%{
        transform: scale(100%);
        filter: opacity(100%) blur(0px);
    }
}
p {
    text-align: center;
}

.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0%;
    height: 60px;

}


.navbar div:hover {
    transform: scale(110%);
    filter: brightness(130%);
}

.navbar div{
    margin-left: 25px;
    max-height: 60px;
}



@keyframes bg1 {
    0% {
        left: 30px;
        top: 40px;
    }
    100%{
        left: 80%;
        top: 10px;
    }
}

@keyframes bg1 {
    0% {
        left: 30px;
        top: 240px;
    }
    100%{
        left: 60%;
        top: 10px;
    }
}


.bg1 {
    position:  absolute;
    overflow: hidden;
    height: 800px;
    width: 800px;
    background-image: radial-gradient(circle, #5284c03a 0%, rgba(148, 230, 255, 0) 50%);
    animation: bg1 15s ease-in-out 0s infinite alternate;
}


@keyframes bg2 {
    0% {
        left: 600px;
        top: 24px;
    }
    100%{
        left: 320px;
        top: 300px;
    }
}


.bg2 {
    position:  absolute;
    overflow: hidden;
    height: 1220px;
    width: 1220px;
    background-image: radial-gradient(circle, #526fc02f 0%, rgba(148, 230, 255, 0) 50%);
    animation: bg2 12s ease-in-out 0s infinite alternate;
}


.textBG {
    margin-top: 5%;
    margin-left: 5%;
    padding: 40px;
    width: 90%;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    backdrop-filter: brightness(70%);
    border-radius: 20px;
}

.textBG h1{
    color: #539dff;
}

.textBG h3{
    color: #ffffff;
}

p{
    color: rgb(205, 232, 255);
    text-align: left;
    margin-left: 20px;
}




form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #00479852;
    color: #fff;
}